<tr>
    <th scope="row">
        <a href="/template/@summary.Id" 
            class="hover:underline transition-colors duration-200"
            title="ID: @summary.Id">
            @summary.Name
        </a>
    </th>
    <th scope="row">
        <small>
            @(string.IsNullOrEmpty(summary.Description)
                ? ""
                : summary.Description.Length > 75
                ? summary.Description.Substring(0, 75) + "..."
                : summary.Description)
        </small>
    </th>
    <td><a href="/template/@summary.Id/@summary.LatestVersion">@summary.LatestVersion</a></td>
    <td>@summary.ReleaseDate</td>
    <td>
        <TemplateTags tags="@summary.Tags"></TemplateTags>
    </td>
    <td>@summary.TotalDownloads</td>
    <td>@summary.Id</td>
</tr>


@code {

    [Parameter]
    public TemplateSummary summary { get; set; }

}